header{
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: #83a4eb;
}
.logo img{
  width: 100px;
}
.menu{
  margin-bottom: 0px;
}
.menu > li:hover{
  background-color: rgb(182, 176, 176);
}
.nav__item a{
  text-decoration: none;
  color: var(--heading-color);
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0 20px;
}
.nav__item:hover > a{
  color: #fff;
}
.nav__item a.active__link{
  color: var(--secondary-color);
}
.mobile__menu{
  font-size: 1.3rem;
  color: var(--heading-color);
  display: none;
}
.sticky__header{
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: #83a4eb;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 8px -3px #ddd;
  z-index: 999;
}
ul{
  padding-left: 0px !important;
}
li {
  display: block;
  transition-duration: 0.5s;
}

li:hover {
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 20;
  top: 80px;
  left: 10%;
  right: 10%;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  background-color: rgb(238, 250, 215);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

ul li ul li {
  padding: 0 0.3rem !important;
  clear: both;
  width: max-content;
  height: 75px;
  border: 1px solid #ccc;
  border-collapse: collapse;
}
ul li ul li:hover{
  background-color: rgb(182, 176, 176);
  color: #fff
}
/* img icon */
.img-avatar {
  border-radius: 100%;
  border: 3px solid #fff;
}

.img-xs,
.img-sm,
.img-md,
.img-lg {
  object-fit: cover;
  flex-shrink: 0;
  flex-grow: 0;
}

.img-xs {
  width: 40px;
  height: 40px;
}

.img-sm {
  width: 60px;
  height: 60px;
}

.img-md {
  width: 112px;
  height: 112px;
}

.img-lg {
  width: 196px;
  height: 196px;
}
.nav__wrapper img.rounded-circle:hover {
  border-color: #4fa607;
}
.nav__wrapper img.rounded-circle {
  border: 1px solid #eee;
}

.dropdown-item {
  line-height: 2;
}

.dropdown-menu {
  right: 0;
  left: auto;
  top: 70px;
}
.search {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.search input{
  width: 30rem;
  height: 3rem;
  border-radius: 5px;
  border: none;
  padding-left: 1rem;
}
.search--icon{
  cursor: pointer;
}
.search--btn{
  color: #fff;
  font-size: 3rem !important;
  border-radius: 10px;
  background-color: #83a4eb;
  cursor: pointer;
}
.search--icon{
  font-size: 2rem !important;
}
.search--icon:hover{
  background-color: rgb(182, 176, 176);
  color: #fff;
  border-radius: 5px;
}
.resultList{
  z-index: 1000;
  position: absolute;
  top: 100%;
  left: 0;
  width: -webkit-fill-available;
}

.resultList ul li:hover{
  background-color: #ccc;
}
.resultList ul li a{
  text-decoration: none;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 500;
}

.hidden{
  display: none;
}

/* responsive */
@media only screen and (max-width: 992px) {
  .logo img{
    width: 20%;
  }
  .navigation{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.411);
    z-index: 999;
    display: none;
  }
  .menu{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 75%);
    height: 100%;
    background: #fff;
    flex-direction: column;
    line-height: 0.5rem;
    justify-content: center;
    z-index: 9999;
  }
  .show__menu{
    display: block;
  }
  .mobile__menu{
    display: block;
  }
  ol, ul{
    padding-left: 0px !important;
  }
  button.btn{
    width: 80% !important;
  }
}
@media only screen and (max-width: 768px){
  .logo img{
    width: 45%;
  }
  .menu{
    width: calc(100% - 70%);
}
}
@media only screen and (max-width: 576px){
  .menu{
    width: calc(100% - 55%);
  }
  .logo img{
    width: 40%;
  }
}